// Custom pannel
.custom-panel-tabel {
  display: none;
  width: 100%;
}
// PANEL LEFT AND RIGHT
.panel-left,
.panel-right {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  background-color: $white;
  padding: 35px 15px;
  @media (min-width: $lg) {
    padding: 30px;
  }
  @media (min-width: $xl) {
    padding: 35px 35px 45px;
  }
}
// CUSTOM TABLE IN CUSTOM FILE
.custom-table {
  width: 100%;
  text-align: left;
  thead {
    float: left;
    th {
      display: block;
      position: relative;
      opacity: 0.8;
      color: $black5f;
      // cursor: pointer;
      &:before {
        content: ":";
        position: absolute;
        right: 0;
        z-index: 999;
      }
    }
  }
  tbody {
    display: inline-block;
  }
  td,
  th {
    padding: 5px 10px;

    @media (min-width: $lg) {
      padding: 15px;
    }
    @media (min-width: $xl) {
      padding: 12px 45px 12px 18px;
    }
  }
}
ul.tabs {
  padding: 0;
  li {
    background: none;
    color: rgba(95, 95, 117, 0.5);
    text-align: center;
    padding: 4px 0;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    border-right: 1px solid $graydc;
    &:last-child {
      border-right: 0;
    }
    &.current {
      border-bottom: 2px solid $sky-blue;
      color: rgba(67, 197, 227, 1);
    }
  }
}
.tab-content {
  display: none;
  background-color: $blackf7;
  min-height: 230px;
}
.tab-content.current {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.panel-right {
  .tabs {
    display: flex;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}
.panel-left {
  .custom-table {
    th,
    td {
      position: relative;
      z-index: 99;
    }
    tr:nth-of-type(even):after {
      position: absolute;
      content: "";
      left: 31px;
      width: 100%;
      width: calc(100% - 64px);
      height: 46px;
      background-color: #f5fafb;
      top: 44.5%;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        top: 49%;
      }
    }
  }
}
//Custom Upload
.upload-documents {
  &__drop {
    text-align: center;
    border-radius: 3px;
    border: 1px dashed $gray_c2;
    background-color: $white;
    cursor: pointer;
    padding: 30px 15px;
    @media (min-width: $lg) {
      padding: 20px 10px;
    }
    @media (min-width: $xl) {
      padding: 26px 20px;
    }
  }
}
.form-section {
  padding-left: 15px;
  border-left: 2px solid #ff851b;
  display: none;
  &.current {
    display: inherit;
  }
}
.btn-info,
.btn-default {
  margin-top: 10px;
}
html.codepen body {
  margin: 1em;
}
