// FIXED PANEL FLOW--RIGHT SECTION-STYLES
.sectionRight {
  padding: 2.2rem 20px 1.2rem;
}

// SEARCHBOX STYLES
.searchbox {
  &::after {
    font-family: "missionBio" !important;
    content: "\68";
    position: absolute;
    right: 12%;
    top: 28%;
    line-height: 16px;
    // top: 11px;
    opacity: .3;
    cursor: pointer;
    pointer-events: none;
  }
  input {
    padding: 0 35px 0 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    width: 85%;
    height: 36px;
    background: #ffffff;
    border-radius: 4px !important;
  }
  button {
    float: left;
    width: 15%;
    padding: 6px;
    background: #ffffff;
    color: #9b9b9b;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    cursor: pointer;
  }
  input:focus,
  button:focus {
    outline: none;
  }
}

// Input box and Textarea placeholder color
input::-webkit-input-placeholder,
input.form-control::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray-700!important;
}
input::-moz-placeholder,
input.form-control::-moz-placeholder,
textarea::-moz-placeholder,
textarea.form-control::-moz-placeholder { /* Firefox 19+ */
  color: $gray-700 !important;
}
input:-ms-input-placeholder,
input.form-control:-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder { /* IE 10+ */
  color: $gray-700 !important;
}
input:-moz-placeholder,
input.form-control:-moz-placeholder,
textarea:-moz-placeholder,
textarea.form-control:-moz-placeholder { /* Firefox 18- */
  color: $gray-700 !important;
}

