// FOOTER STYLES
footer {
  box-shadow: 0 6px 28px rgba(0,0,0,.09);
}

.nav-footer,
.nav-footer a {
  color: $black5f;
}

// login footer info
html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #f2f5f8;
}

.login-footer-fixd::after {
  content: '';
  display: block;
  height: 60px;
}

.login-footer {
  // position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  
}