//LANDING PAGE PANEL LIST
.panel-card {
  // padding-top: 10rem;
  &__items {
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.09);
    background-color: $white;
    padding: 30px 50px 30px 100px;
  }
}
//HOVER EFFECTS ON PANEL LIST
.zoom-out {
  position: relative;
  transform: scale(1.05);
  z-index: 99;
  transition: 0.5s all ease;
  @media (min-width: $lg) {
    transform: scale(1.1);
  }
  //BORDER BOTTOM TO PANEL LIST
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: visible;
    width: 100%;
    height: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
    background-image: linear-gradient(137deg, #008ee2 0%, #43c5e3 100%);
    transition: 0.5s all ease;
  }
}
// CIRCLE FOR OR
.circle {
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
  border: 2px solid rgba(151, 151, 151, 0.2);
  border-radius: 50%;
  background-color: $white;
  position: absolute;
  top: 43%;
  z-index: 999;
  right: 47.3%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $lg) {
    right: 48%;
  }
  @media (min-width: $xl) {
    right: 48.3%;
  }
}
.transform-or-rh {
  right: 45%;
  transition: 0.5s all ease;
  @media (min-width: $lg) {
    right: 45.5%;
  }
  @media (min-width: $xl) {
    right: 46%;
  }
}
.transform-or-lh {
  right: 50%;
  transition: 0.5s all ease;
  @media (min-width: $lg) {
    right: 50.5%;
  }
  @media (min-width: $xl) {
    right: 51%;
  }
}
// FIXED PANEL FIRST TABLE
.fixed-panel-tabel {
  // position: absolute;
  display: none;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  background-color: $white;
  padding: 25px 35px 40px 35px;
  &__head {
    margin-bottom: 12px;
  }
}


// FIXED PANEL RETURNING USER
// .fixedReturnUser {
//   position: absolute;
//   transform: translateY(-40%);
//   width: 100%;
// }

