//Continue or save part in Overlap table
.custom-design-flow {
  &__items {
    @include flex();
    @include justify-content(center);
    @include align-items(center);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    @media (min-width: $lg) {
      padding: 1rem 7rem;
    }
    @media (min-width: $xl) {
      padding: 1rem 10rem;
    }
    &.active-item {
      padding: 1rem 3rem;
      vertical-align: middle;
      color: $white;
      border: 0 !important;
      background-image: linear-gradient(137deg, #008ee2 0%, #43c5e3 100%);
      @media (min-width: $lg) {
        padding: 1rem 7rem;
      }
      @media (min-width: $xl) {
        padding: 1rem 10rem;
      }
      p {
        color: $white;
      }
      h2 {
        color: $white;
      }
    }
  }
}
//Overlap Or item
.circle {
  &--overlap {
    top: 31%;
  }
}
//Panels Overview
.overview-list {
  margin-bottom: 2rem !important;
  &__items {
    .overview-content {
      background-color: #f7fbff;
      border-radius: 5px;
      margin-right: 30px;
      padding: 10px;
      margin: 10px auto !important;
      @media (min-width: $xl) {
        padding: 20px;
      }
      &:last-of-type {
        margin: 0;
      }
      &-list {
        &__items {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .explore {
    @include flex();
    @include align-items(flex-end);
  }
}
//Overlap tabel content
.overlap-table-content {
  &__head {
    &:nth-child(-n + 2) {
      background-color: #b8d4ed;
      // background-color: rgba(74,144,226,.25) !important;
    }
  }
}
.overview-panel {
  border-radius: 5px;
  background-color: #f7fbff;
  // .coverage--custom-table {
  //   display: table-cell;
  //   @media (min-width:$xl) {
  //     @include flex();
  //   }
  //   thead {
  //     font-size: 12px;
  //     line-height: 22px;
  //     color: $gray9b;
  //   }
  //   td {
  //     padding-bottom: 19px;
  //   }
  // }
}
.overview-panel-list {
  &__items {
    margin-bottom: 22px;
    h3 {
      color: $gray9b;
    }
    span {
      color: $black;
    }
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

// .edit-targets {
//   position: relative;
// &::before {
//     font-family: "missionBio" !important;
//     content: "\64";
//     position: absolute;
//     left: -15px;
//     top: -2px;
//     color: black;
//     font-size: 12px;
//   }
// }
