//custom-panel
// order flow
.order {
  &__flow {
    width: 100%;
    padding: 1rem;
    display: none;
    background-color: $white;
  }
  &--head {
    border-bottom: 1px solid rgba(10, 87, 115, 0.1);
  }
}
.design-name {
  padding: 0.5rem 0.5rem 3rem;
  @media (min-width: $lg) {
    padding: 1rem 2rem 10rem 0rem;
  }
  .label-icon {
    position: absolute;
    left: 27%;
    @media (min-width: $lg) {
      left: 20%;
    }
    @media (min-width: $xl) {
      left: 16%;
    }
  }
  .label-icon--star {
    position: absolute;
    left: 27%;
    @media (min-width: $lg) {
      left: 20%;
    }
    @media (min-width: $xl) {
      left: 16%;
    }
    &::after {
      content: " * ";
      position: absolute;
      left: -15px;
      top: 2px;
      font-size: 20px;
      color: red;
    }
  }
}
// #design-summary,
// #result-summary {
//   td:nth-child(3) {
//     text-align: center;
//   }
//   td:nth-child(4) {
//     text-align: center;
//   }
// }
#design-summary {
  .table {
    thead {
      th {
        font-size: 12px !important;
      }
    }
  }
}
.next {
  &--delet-order {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    @include flex();
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
    // @media (min-width: $xl) {
    //   width: 32px;
    //   // height: 32px;
    // }
  }
  span {
    width: 4px;
    height: 4px;
    background: $gray296;
    border-radius: 50%;
    vertical-align: middle;
    &:nth-child(2) {
      margin: 0 4px;
    }
  }
}
// Error message on tabel
.error-circle {
  cursor: pointer;
  // display: inline-block;
  z-index: 99;
  td:nth-child(2)::before {
    
    content: url(../img/icons/error.svg);
    position: absolute;
    left: -25px;
    top: calc(100% - 27px);
    width: 16px;
    height: 16px;
    color: $white;
    border-radius: 50%;
    font-size: 9px;
    @include flex();
    @include align-items(center);
    @include justify-content(center);
  }
  td:nth-child(2) {
    display: inline-block;
  }
  &:hover {
    // .edit {
    //   display: block;
    // }
    td:nth-child(2) {
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 5px;
        bottom: 0;
        width: 100%;
        height: 38px;
        border: 1px solid #ee3d4d;
        // background-color: #ffffff;
        border-radius: 3px;
        z-index: 1;
      }
    }
    td:nth-child(1) {
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 5px;
        bottom: 0;
        width: 60%;
        height: 38px;
        border: 1px solid #43c5e3;
        // background-color: #ffffff;
        border-radius: 3px;
        z-index: 1;
      }
    }
  }
}
.edit {
  position: absolute;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  top: calc(100% - 33px);
  display: none;
}

.succed-target {
  position: relative;
  &::before {
    // font-family: "missionBio";
    content: url(../img/icons/Checkmark.svg);
    position: absolute;
    left: 0;
    top: calc(100% - 18px);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    // background: $green880;
    color: $white;
    font-size: 10px;
    @include flex();
    @include align-items(center);
    @include justify-content(center);
  }
}

.error-target {
  position: relative;
  &::before {
    // font-family: "missionBio";
    // content: "!";
    content: url(../img/icons/error.svg);
    position: absolute;
    left: -25px;
    top: calc(100% - 18px);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    // background: $red3d4d;
    color: $white;
    font-size: 10px;
    @include flex();
    @include align-items(center);
    @include justify-content(center);
  }
}
.next {
  &--download {
    margin-right: 14px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    @include flex();
    @include align-items(center);
    @include justify-content(center);
  }
}

// Show edit/delete icon on hover on custum table
.table {
  &--edit tr {
    &:hover {
      .edit {
        display: block;
      }
    }
    td {
      input {
        // border: transparent;
        &:focus {
          outline: transparent;
        }
      }
    }
  }
}

// .add-target {
//   position: relative;
//   // padding: 0 20px;
// &::before {
//   // font-family: "missionBio";
//   content: "+";
//   position: absolute;
//   left: 0px;
//   font-size: 20px;
// }
// }
