// FIXED PANEL FLOW RIGHT SECTION START
.col-8
  .bg-white.bx-shadow#sticky-content
    section.sectionRight.mt-5
      // CONTENT SECTION
      .row
        .col-8
          h3.fnt-md.fnt-semibold Description
          p.py-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel augue sem. Donec ut lacinia nibh. Aenean volutpat aliquam imperdiet. Vesti sed nibh eros. Etiam posuere ipsum fermentum, malesuada risus quis, suscipit odio. Aliquam vitae magna quam. In lobortis diam ut nulla ultricies tincidunt. Curabitur varius mauris ligula.

        .col-4.px-2
          .d-flex.align-items-start.justify-content-end
            .next--download
              a.d-inline-flex(href="javascript:void(0)")
                img.btnMove.img-fluid(src="img/icons/download.svg", alt="download")

            button.button.button-primary.button--flow.fnt-xs(type='button', data-toggle='modal', data-target='#requestFixed') Request Quote
            
            // Request Quote Popup
            #requestFixed.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
              .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                  .modal-header 
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body.px-5.pt-1
                    h5.fnt-semibold.black5f Quote requested
                    p.my-2 Thank you for submitting your request
                    p.pb-4 Someone from the Mission Bio team will get in touch with you shortly.

      // PANEL SUMMERY
      .row.my-3
        .col-3
          h3.fnt-md.fnt-semibold Panel Summary
        .col-9.d-flex.justify-content-end.align-items-center          
                
          .col-6.pl-md-0.searchbox.d-flex
              input.w-100.fnt-xs(type='text', placeholder='Search target name or ID', name='search')        
          include ../../components/pagination.pug
      // TABLE SECTION
      include fixed-table.pug
// FIXED PANEL FLOW RIGHT SECTION END