// Catalog PANEL FLOW START
section.section-main.sectin-pd
  .container

    // Breadcrumb Start
    nav.panel-nav.mt-3(aria-label='breadcrumb')
      ol.breadcrumb.p-0
        li.breadcrumb-item
          a(href='index.html') Designer
        .custom-icon.icon-left-open-mini.breadcrumb-icon
        li.breadcrumb-item.active(aria-current='page') Catalog Panel
    // Breadcrumb End

    .row
      // Catalog PANEL SIDEBAR
      include ../../components/sidebar.pug

      // Catalog PANEL RIGHT SECTION
      include fixed-right-section.pug