// Catalog PANEL FLOW TABLE START
table.table.table--small.table-striped(cellspacing="0")
  thead
    tr
      th(scope='col') Target Name
        .custom-icon.icon-arrow-combo.fnt-xxs
      th(scope='col') ID
        .custom-icon.icon-arrow-combo.fnt-xxs
      th(scope='col') No. of Amplicons
      th(scope='col') Coverage
      th(scope='col') UCSC Link
  tbody.tbody
    tr
      td.fnt-xs.blueSky.fnt-semibold.fnt-semibold ABC
      td.fnt-xs NM_000155(GAA):RTSH2
      td.fnt-xs 15 bp
      td.fnt-xs 100%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold DEF
      td.fnt-xs NM_000155(GAA):RTSH3
      td.fnt-xs 20 bp
      td.fnt-xs 80%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold GHI
      td.fnt-xs NM_000155(GAA):RTSH1
      td.fnt-xs 15 bp
      td.fnt-xs 70%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold ABC
      td.fnt-xs NM_000155(GAA):RTSH2
      td.fnt-xs 15 bp
      td.fnt-xs 100%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold DEF
      td.fnt-xs NM_000155(GAA):RTSH3
      td.fnt-xs 20 bp
      td.fnt-xs 80%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold GHI
      td.fnt-xs NM_000155(GAA):RTSH1
      td.fnt-xs 15 bp
      td.fnt-xs 70%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold ABC
      td.fnt-xs NM_000155(GAA):RTSH2
      td.fnt-xs 15 bp
      td.fnt-xs 100%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold DEF
      td.fnt-xs NM_000155(GAA):RTSH3
      td.fnt-xs 20 bp
      td.fnt-xs 80%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold GHI
      td.fnt-xs NM_000155(GAA):RTSH1
      td.fnt-xs 15 bp
      td.fnt-xs 70%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold DEF
      td.fnt-xs NM_000155(GAA):RTSH3
      td.fnt-xs 20 bp
      td.fnt-xs 80%
      td.fnt-xs
        a.link(href="javascript:void(0)") link



// Catalog PANEL FLOW TABLE END
