//Landing Page
// Custom Flow Beginning

.row
  .col-12
    .row.pad-tp4
      .col-12
        .custom-panel-tabel#target2
            
            .custom-icon.icon-cancel.mr-0.panel-close
            .d-flex
                .panel-left.col-6
                  h2.fnt-xl.mb-2.fnt-semibold.custom-panel-tabel__head Customize with Precision.
                  h6.fnt-sm.mb-5 Let us help you design panels that would best aid your research
                  table.mt-2.custom-table.border-top.border-btm
                    thead.fnt-sm.fnt-400
                        tr
                          th  Assay Type
                          th  Genome
                          th  Permissable Amplicon Range
                    tbody.fnt-sm.black5f.fnt-700
                        tr
                          td DNA
                        tr
                          td Human hg19
                        tr
                          td 2 - 500 bp
                .panel-right.col-6
                  .d-flex.justify-content-between.align-items-center.mt-3
                      a(href="#").fnt-sm.fnt-semibold.blueSky Example target format
                      ul.tabs.col-md-5.col-lg-4.fnt-xs.text-capitalize
                        li.tab-link.current(data-tab='tab-1') upload
                        li.tab-link(data-tab='tab-2') text
                  form
                      
                      #tab-1.tab-content.current
                          .upload-documents
                            input#upload-docs.upload-files(type="file")
                            .d-flex
                              .upload-documents__drop
                                  .figure
                                    img.img-fluid(src="img/upload-01.png")
                                  .figcaption.fnt-xs.fnt-regular
                                    span.fnt-400 Drag and drop your file here
                              span.or-option.mx-3.my-auto.text-uppercase.fnt-semibold.fnt-xs or
                              .upload-documents__drop
                                  .figure
                                      img(src="img/upload-01.png")
                                  .figcaption.fnt-xs.fnt-regular
                                      span.fnt-700.blueSky Browse 
                                      span.fnt-400 from your computer
                          

                      #tab-2.tab-content
                          textarea.fnt-sm.p-3#submit-comments.add-text.w-100(name="text" rows="8" placeholder="Please paste the gene symbols here. You need to ensure they separated by a comma or  list them one below the other.")
                      input.h-45button.button--submit01.submit.float-right.mt-4.fnt-sm.text-uppercase.submitbtn.opacity_5(type="submit",value="SUBMIT")
                      //- a.h-45button.button--submit01.submit.float-right.mt-4.fnt-sm.text-uppercase.submitbtn.opacity_5(href="custom-flow.html" disabled='') submit
