// Landing page returning users
section.section.section-main.section-main--lg.pad-tp10
  .container.position-relative
    .row.target-reuser
        .col-6
          .media.bg-white.p-4
            img.img-fluid.px-3(src='img/tp-search.png', alt='search')
            .media-body.ml-4.mb-2
              h1.fnt-xl.fnt-semibold Target with Precision
              h2.fnt-sm.fnt-semibold.mb-3.black4a Browse through our list of catalog panels
              a(href="#target1").h-40.target-reuser--link.button.button-primary.fnt-sm.text-uppercase  View Details
        .col-6
          .media.bg-white.p-4
            img.img-fluid.px-3(src='img/tp-search.png', alt='search')
            .media-body.ml-4.mb-2
              h1.fnt-xl.fnt-semibold Customize with Precision
              h2.fnt-sm.fnt-semibold.mb-3.black4a Add targets to get started with your custom design
              a(href="#target2").h-40.target-reuser--link.button.button-primary.fnt-sm.text-uppercase Create design
section.section.js-hide
  .container.position-relative
    include fixed.pug
    include custom.pug
        
section
  .container
    .row.mx-0
      ul.w-100.mb-10(type="none")
        li.col-12.bx-shadow.bg-white.table-padding.mt-4
          // Catalog PANEL--RETURNING USER--SEARCH
          .row.my-3.align-items-center
            .col-5
              h3.fnt-md.fnt-semibold Dashboard
              p Details of all your custom designs

            .col-7
              .row.align-items-center
                // SEARCHBOX
                .col-5
                  form.searchbox.d-flex
                    input.w-100.cursr.fnt-xs(type='text', placeholder='Search target name or ID', name='search')
                    //- button(type='submit')
                      .custom-icon.icon-search.align-middle.mr-0
                .col-7
                  .row.align-items-center
                    .col-5
                      //- label.form-label Country
                      .ui.w-100.selection.dropdown.form-dropdown
                        input(type="hidden" name="DataStatus")
                        .custom-icon.icon-down-open-mini
                        .defualt.text All
                        .menu.hidden
                          .item(data-value='all')
                            | All
                          .item(data-value='draft')
                            | Draft
                          .item(data-value='submitted')
                            | Submitted
                          .item(data-value='result')
                            | Result Ready
                          .item(data-value='ordered')
                            | Ordered
                    .col-7
                      include ../../components/pagination.pug

          // Catalog PANEL--RETURNING USER--TABLE-2
          .row
            .col-12
              table.table.table-striped(cellspacing="0")
                thead
                  tr
                    th(scope='col') Design ID
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Design Name
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Target Size
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Total Amplicons
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Coverage
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Last Modified
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Status
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                tbody.tbody
                  tr
                    td.fnt-sm 1450
                    td.fnt-sm
                      .custom-icon.icon-pencil.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP01
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--red Draft
                      .next.d-flex.align-items-center
                        .next--delet-order.mr-3(data-toggle='tooltip', data-placement='bottom', title='Delete')
                          span.d-inline-block
                          span.d-inline-block
                          span.d-inline-block
                  tr
                    td.fnt-sm 1451
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--green Submitted
                  tr
                    td.fnt-sm 1459
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--yellow Result ready
                  tr
                    td.fnt-sm 1451
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--purple Ordered
                  tr
                    td.fnt-sm 1455
                    td.fnt-sm
                      .custom-icon.icon-pencil.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--red Draft
                      .next.d-flex.align-items-center
                        .next--delet-order.mr-3(data-toggle='tooltip', data-placement='bottom', title='Delete')
                          span.d-inline-block
                          span.d-inline-block
                          span.d-inline-block
                  tr
                    td.fnt-sm 1452
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--purple Ordered
                  tr
                    td.fnt-sm 1451
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--yellow Result ready
                  tr
                    td.fnt-sm 1456
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--purple Ordered
                  tr
                    td.fnt-sm 1457
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--green Submitted
                  tr
                    td.fnt-sm 1458
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--green Submitted

              // Catalog PANEL FLOW TABLE END
