// MAIN LANDING
section.section.pad-tp10
    .container
        .row
            .col-12
                .target-panels.position-relative
                    .circle.text-uppercase.fnt-sm.black5f.fnt-semibold or
                    ul.panel-card.d-flex.justify-content-center.pb-4
                        include ../../components/mixins/panels.pug
                        +panels("img/tp-search.png","search", "Target with Precision", "Browse through our list of Catalog panels ", "Tapestri Single-Cell DNA Panels can be applied across a wide number of applications, including hematologic malignancies, solid tumor profiling, and genome editing programs, to identify rare subclones missed by standard bulk sequencing, or co-mutation.","#target1","view details")
                        +panels("img/cp-search.png","search", "Customize with Precision", "Add targets to get started with your custom design ", "The design and manufacture of your custom panel is taken care of with our in-house primer design experts and proprietary pipeline. Tapestri Custom panels enable you access to single-cell DNA in the applications most important to you.","#target2","create design")
                
// Catalog pannel
section.section.js-hide.sectin-pd
  .container.position-relative
    include fixed.pug
    include custom.pug