//- Onboarding Slider
// Button trigger modal
//- button.button.btn.btn-primary(type='button', data-toggle='modal', data-target='#onboardSlider') Onboarding
// Modal
#onboardSlider.modal.fade(tabindex='-1', role='dialog', aria-labelledby='onboardSliderTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.cursr(aria-hidden='true') ×
      .modal-body.p-0
        ul.onboardingJS

          li.text-center
            .slider-content
              h3.fnt-xl.black5f.fnt-semibold Designer
              p.fnt-xs Panel designing made simple
              img.sliderImg.my-4(src="img/cp-search.png", alt="search")
              .my-4
                p.fnt-sm Hello 
                  span.fnt-semibold Stephen,
                p.fnt-sm Let us help you create something great today !
            .slider-footer
              p.white Choose from our list of
                span.fnt-semibold.d-block Catalog panels OR design a Custom panel
                | that best suits your research needs

          li.text-center
            .slider-content
              h3.fnt-xl.black5f.fnt-semibold Catalog Panels
              img.sliderImg.mt-5(src="img/slider-2.png", alt="search")
            .slider-footer
              p.white
                span.fnt-semibold Save time and effort 
                | and opt for our experimentally validated, gauranteed performance 
                span.fnt-semibold Catalog panels

          li.text-center
            .slider-content
              h3.fnt-xl.black5f.fnt-semibold Custom Panel

              // slider json
              #howItsWork
              //- img.sliderImg.my-4(src="img/onboarding/slider-img.png", alt="slider")
              //- .row.mx-0.mt-5
              //-   .col-4
              //-     p.fnt-xxs.black5f.text-uppercase Add targets by either uploading your file OR copy paste your target list.Fix errors, if any, and submit
              //-   .col-4
              //-     p.fnt-xxs.black5f.text-uppercase Review your design summary
              //-   .col-4
              //-     p.fnt-xxs.black5f.text-uppercase If you are happy with the result then request for a quote and we will get in touch with you
            .slider-footer
              p.white Design a 
                span.fnt-semibold Custom Panel 
                | in 
                span.fnt-semibold 3 simple steps 
              a(href="index.html").button.button-secondary.button--getStarted.fnt-xs.mt-3 get started
