mixin head(pageName)
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  if pageName == "plan"
    title MissionBio
  else if pageName == "Account-details"
    title Account-details
  else if pageName == "product-solutions"
    title Product&solutions
  else if pageName == "privacy policy"
    title Privacy Policy
  else
    title MissionBio
  //- link(href='https://fonts.googleapis.com/css?family=Lato:400,400i,700,900', rel='stylesheet')
  //- meta(name='apple-mobile-web-app-title', content='MissionBio')
  //- meta(name='apple-mobile-web-app-capable', content='no')
  //- meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='theme-color', content='#0073b6')
  link(href='./css/main.css', rel='stylesheet')
  link(href='img/favicon1.svg', rel='shortcut icon', type='image/x-icon')
  //- Font awesome css
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
