mixin script(page_name)
  // Common scripts
  
  script(type='text/javascript', src='js/plugins/jquery.min.js')
  script(type='text/javascript', src='js/plugins/popper.min.js')
  script(type='text/javascript', src='js/plugins/bootstrap-tour.min.js')
  script(type='text/javascript', src='js/plugins/bootstrap.bundle.min.js')
  script(type='text/javascript', src='js/plugins/transition.min.js')
  script(type='text/javascript', src='js/plugins/dropdown.min.js')
  script(type='text/javascript', src='js/plugins/form.min.js')
  script(type='text/javascript', src='js/plugins/slick.min.js')
  script(type='text/javascript', src='js/plugins/bodymovin.js')
  script(type='text/javascript', src='js/plugins/choosen.min.js')
  script(type='text/javascript', src='js/plugins/parsley.js')
  script(type='text/javascript', src='js/plugins/sticky.min.js')
  // Main script
  script(type='text/javascript', src='js/main.js')
  