// BLUE BANNER

.blue-banner {
  // BANNER FOR OTHER PAGES
  .section-main {
    // padding-top: 30px;
    &--md {
      @media (min-width: $md) {
        padding: 2rem 0 10rem 0;
      }
    }
    &--lg {
      padding: 14rem 0 0 0;
      // margin: 10rem 0 10rem 0;
    }
  }
}

.blue-banner {
  position: absolute;
  width: 100%;
  height: 357px;
  background-image: url("../img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // padding: 5rem 0 10rem;
  // z-index: -1;
}
.customer-prtallink{
  &--item{
    letter-spacing: 1px;
  }
}