// BUTTON INFO
.button {
  cursor: pointer;
  display: inline-block;
  // min-height: 1em;
  height: 32px;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: $button-default;
  color: $button-default-text;
  margin: 0em 0.25em 0em 0em;
  // padding: 0.8rem 1.5rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-shadow: none;
  line-height: 1em;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  border-radius: $input-border-radius;
  border: 1px solid $button-default;
  box-shadow: 0px 0px 0px 1px transparent inset,
    0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  user-select: none;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
  opacity: 1;
  transition: all 0.5s;

  &-primary {
    background-color: $theme-primary;
    color: $white;
    border: 1px solid $theme-primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $white;
      color: $theme-primary;
    }
  }
  &-secondary {
    background-color: $white;
    color: $theme-primary;
    border: 1px solid $theme-primary;
    &:hover {
      background-color: $theme-primary;
      color: $white;
    }
  }
  &--big {
    padding: 1rem 4.4rem;
  }
  &--small {
    padding: 0.4rem 1rem;
    font-size: 10px;
    border-radius: 50rem;
    font-weight: 600;
  }
  &--getStarted {
    padding: 0.8rem 2rem;
    &:hover {
      color: $button-default-text;
      background-color: $white;
    }
  }
  &--flow {
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 3px;
    @media (min-width: $lg) {
      padding: 0.6rem 0.9rem;
    }
  }
  &--ex {
    padding: 7px 11px;
  }
  &--submit01 {
    padding: 0.6rem 3.2rem;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid $theme-primary;
    background-color: $theme-primary;
    color: $white;
    &:hover {
      background-color: $white;
      color: $theme-primary;
    }
  }
  &--submit02 {
    padding: 0.6rem 1.6rem;
    font-size: 12px;
    border-radius: 3px;
    background-color: $theme-primary;
    color: $white;
  }
  &--submit03 {
    padding: 0.9rem 3.3rem;
  }
  &--next {
    padding: 0.5rem 1.9rem;
  }
  &--feedback {
    padding: .6rem 2.6rem;
    border-radius: 3px;
  }
}

.btnMove {
  transition: 0.5s all ease;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: $white;
    transform: translate(0, -5px);
  }
}

