// Styles for custom font icons
.custom-icon {
  display: inline-block;
  vertical-align: text-top;
  font-size: 12px;
  cursor: pointer;
  color: $black5f;
  &:hover {
    color: $black1d;
  }
}
.edit {
  .custom-icon {
    font-size: 17px;
    color: #bdc0c9;
    &:hover {
      color: $black1d;
    }
  }
}
.icon-down-open-mini {
  position: absolute;
  right: 8px;
  top: 7px;
  padding: 0 !important;
  transition: transform 0.2s;
  transform: rotate(0deg);
  font-size: 22px;
  color: $black5f;
}
.form-dropdown.active .icon-down-open-mini {
  transform: rotate(180deg);
}
.icon-search {
  font-size: 16px;
  color: $gray99;
  &:before {
    vertical-align: middle;
  }
}
.icon-left-dir,
.icon-right-dir {
  font-size: 18px;
}
.icon-left-open-mini {
  opacity: 0.7;
  font-size: 18px;
}
.icon-arrow-combo {
  color: #0a5773;
}
.icon-lock {
  &--sidebar {
    color: $white;
    font-size: 18px;
    line-height: 12px;
    &:hover {
      color: $white;
    }
  }
}


