// DROPDOWN STYLE
// over-riding the dropdown styles
.nav-menu {
  .ui.dropdown .menu > .item {
    @extend .fnt-sm;
    color: $black5f;
    @extend .fnt-semibold;
    padding: 0.6rem 2rem !important;
    &:hover,
    &:focus,
    &.active {
      background: rgba(67, 197, 227, 0.09);
      color: $sky-blue;
    }
  }
  .ui.pointing.dropdown > .menu:after {
    box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.045);
  }
  .ui.top.right.pointing.dropdown > .menu {
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
    box-shadow: $panel-shadow;
    border-radius: 0;
  }
}

.ui.dropdown > .text {
  display: inline-block;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-size: 12px;
}

// .dropdown ScrollBar
.menu::-webkit-scrollbar-thumb {
  background: #43c5e3;
}

.menu::-webkit-scrollbar {
  background-color: #fdfafa;
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
}

.menu::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #43c5e3;
  outline: 1px solid #43c5e3;
  cursor: pointer;
  border-radius: 5px;
  transition: color 0.2s ease;
  height: 60px;
}

.ui.dropdown .menu > .item {
  font-size: 12px;
  &:hover {
    background: rgba(67, 197, 227, 0.09);
    color: #43c5e3;
  }
}
.ui.selection.dropdown {
  padding: 8px 16px !important;
  min-width: 8em;
  min-height: auto;
}
.ui.selection.dropdown.pagi-dropdown {
    min-width: 10em;
    border: transparent;
}
.ui.selection.dropdown .menu > .item {
  padding: 8px 16px !important;
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  background: rgba(67, 197, 227, 0.09);
  color: #43c5e3;
}

// icon dropdown
.form-dropdown {
  position: relative;
  .icon-down-arrow {
    position: absolute;
    top: 14px;
    @extend .fnt-sm;
    right: 15px;
    padding: 0 !important;
    transition: transform 0.2s;
    transform: rotate(0deg);
    color: $theme-secondary;
  }
  &.active .dropdown.icon-down-arrow {
    transform: rotate(180deg);
    top: 12px !important;
  }
}
