
.cutom-flows {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    margin-top: 45px;
    text-align: center;
    position: relative;
    z-index: 1;
    &__items {
        position: relative;
        min-width: 150px;
        text-align: center;
        @media (min-width: $lg) {
            min-width: 180px;
        }
        @media (min-width: $xl) {
            min-width: 240px;
        }
        span {
            color: $white;
          
        }
        p {
            color: $gray9b;
            opacity: .5;
            letter-spacing: 1px;
        }
        &::before {
            content: "";
            position: absolute;
            height: 1px;
            opacity: .41;
            background: $black_d1;
            top: 25%;
            left: -39%;
            @media (min-width:$md) {
                width: 75%;
                
            }
            @media (min-width:$xl) {
                width: 84%;
                left: -43%;
            }
    
        }
        &:first-child {
            .outer-circle {
                background-color: rgba(67,197,227,.41) !important;
            }
            p {
                color: $sky-blue !important;
                opacity: 1;
            }
        }
        &:first-child::before {
            opacity: 0;
            display: none;
        }
        &.active {

            .outer-circle {
                background-color: rgba(67,197,227,.41) !important;
            }
            p {
                color: $sky-blue !important;
                opacity: 1;
                font-weight: 700;
            }
            
            &:before {
                background-color: $sky-blue;
            }
    
        }
        
    }

    
}


.outer-circle {
    width: 31px;
    height: 31px;
    background-color: rgba(209,209,209,.41);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.flow-circle {
    width: 21px;
    height: 21px;
    background-color: $black_d1;
    border-radius: 50%;
    // position: absolute;
    // z-index: 999;

}

.custom-flow-head {
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $white;
    padding: 30px 20px;

}