// PAGINATION STYLES
// .pagiNav {
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-radius: 4px !important;
// }
.pagination {
  padding: 3px 0;
  .page-link {
    border-radius: 0.25rem;
    padding: 0 !important;
    // padding: 7px 10px 4px;
    width: 36px;
    height: 36px;
    @include flex();
    @include align-items(center);
    @include justify-content(center);
    &--left {
      transform: rotate(180deg);
    }
    &:hover {
      background-color: transparent;
    }
  }
}
