//  SIDEBAR STYLE
.side-bar {
  background-image: linear-gradient(224deg, #008ee2 0%, #43c5e3 100%);
 padding: 16px;
  @media (min-width: $xl) {
    // padding: 24px 24px 175px 24px;
    padding: 1rem 1rem 12rem 1rem;
  }
  p,
  h2,
  th,
  td,
  h3 {
    color: $white;
  }
}
.target-status {
  span {
    padding: 4px 15px;
    border-radius: 14px;
    font-weight: 700;
    letter-spacing: 1px !important;
    background-color: $white;
  }

}
.progress-icon {
  // opacity: 0.4;
  position: relative;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 50%;
    background: white;
  }
}

.side-bar-list {
  &__items {
    margin-bottom: 20px;
    h3 {
      font-size: 14px;
      line-height: 24px;
    }
    span {
      color: $white;
    }
    &:last-child {
      margin-bottom: 32px;
    }
  }
}
//Progres value
.progress-value {
  &--blank {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 2px;
      background: $white;
    }
  }
}
// Custom table
.coverage {
  &--custom-table {
    display: flex;
    align-items: flex-end;
    width: 100%;
    text-align: left;
    thead {
      float: left;
      margin-top: auto;
    }
    thead th {
      display: block;
      font-size: 14px;
      line-height: 24px;
    }

    tbody {
      display: inline-block;
    }
    th {
      padding-bottom: 20px;
      &:last-child {
        padding-bottom: 0;
      }
    }
    td {
      padding-bottom: 15px;
      // &:last-child {
      //   padding-bottom: 0;
      // }
    }
    tr:last-child {
      td {
        padding-bottom: 0;
      }
    }
  }
}

.overview-content {
  .coverage {
    &--custom-table {
      th {
        padding-bottom: 10px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      td {
        padding-bottom: 8px;
      }
    }
  }
}
.onboardingJS {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.onboardingJS.slick-initialized {
  visibility: visible;
  opacity: 1;
}
.slick-slide:focus {
  outline: none !important;
}

//Circular progress bar
.progress-circle {
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    padding: 0;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      width: 1px;
      height: 50%;
      background: white;
    }
    
  
  &__slots {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 50%; height: 50%;
    transform-origin: 0% 100%;  
    &:nth-child(1) {
      transform: rotate(0deg);     
    }
    &:nth-child(2) {
      transform: rotate(36deg);
      
    }
    &:nth-child(3) {
      
      transform: rotate(72deg);  

    }
    &:nth-child(4) {
      
      transform: rotate(108deg);    
    }
    &:nth-child(5) {
      
      transform: rotate(144deg);    
    }
    &:nth-child(6) {
        
      transform: rotate(180deg);    
    }
    &:nth-child(7) {
      
      
      transform: rotate(216deg); 
      
    }
    &:nth-child(8) {
      
      transform: rotate(252deg);   
      
    }
    &:nth-child(9) {
        
      transform: rotate(288deg);    
    }
    &:nth-child(10) {
      
      transform: rotate(324deg);  
    }
  
    span {
      position: absolute;
      width: 200%; height: 200%; 
    }
  }
  
}