// TABLE STYLES
.table {
  font-size: 12px !important;
  line-height: 22px !important;
  td,
  th {
    border: none !important;
    // padding-left: 25px;
    padding-left: 12px;
    vertical-align: middle;
    word-wrap: break-word;
  }

  thead {
    th {
      background-color: #d0e9f1;
      text-align: left;
      color: $thick-blue;
      font-family: $font-proxima-reguler;
      letter-spacing: 0.5px;
      font-weight: 700;
      @include fonts(10px, 12px, 14px, null, null);
    }
  }
  td {
    color: $black4a;
    position: relative;
    text-transform: uppercase;
    outline: none;
    a {
      // font-family: "ProximaNova-Semibold";
      // font-size: 12px;
      // line-height: 22px;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  // We created this modifier table--small for those tables which are coming right to sidebar
  // We are using this class to give Width to ID column only.
  &--small {
    td:nth-child(2) {
      // width: 25% !important;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 120px;
      display: block;
      &:hover {
        width: 170px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
  .scrollbar {
    td {
      padding-left: 16px;
    }
  }
}

.table-striped {
  tbody {
    tr:nth-of-type(odd) {
      background-color: #ffffff;
    }
    tr:nth-of-type(even) {
      background-color: #f5fafb;
    }
  }
}

.table-padding {
  // padding: 25px 35px 40px 40px;
  padding: 10px 20px 10px 20px;
}
// SORTING ELEMENTS STYLES

.table-dots {
  position: relative;
  padding-left: 14px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 6px;
    height: 6px;
    border-radius: 25px;
    // background-color: red;
  }
  &--red {
    &::after {
      background-color: red;
    }
  }
  &--green {
    &::after {
      background-color: $green853;
    }
  }
  &--yellow {
    &::after {
      background-color: $yellow;
    }
  }
  &--purple {
    &::after {
      background-color: #b388ff;
    }
  }
}
// .tbody ScrollBar
.table-striped tbody tr,
.table-striped thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.scrollbar {
  display: block;
  height: 450px;
  overflow: auto;
}

.tbody::-webkit-scrollbar-thumb {
  background: #43c5e3;
}

.tbody::-webkit-scrollbar {
  background-color: #fdfafa;
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
}

.tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.tbody::-webkit-scrollbar-thumb {
  background-color: #43c5e3;
  outline: 1px solid #43c5e3;
  cursor: pointer;
  border-radius: 5px;
  transition: color 0.2s ease;
  height: 60px;
}

// firefox
.tbody::-moz-scrollbar {
  background-color: #fdfafa;
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
}

.tbody::-moz-scrollbar-track {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.tbody::-moz-scrollbar-thumb {
  background-color: #43c5e3;
  outline: 1px solid #43c5e3;
  cursor: pointer;
  border-radius: 5px;
  transition: color 0.2s ease;
  height: 60px;
}
