// PANELS
mixin panels(img_file,img_alt,title1,title2,text,href,name)
  li.col-6.panel-card__items
    img.card__view.img-fluid.mb-3(src= img_file alt= img_alt)
    .card-body.p-0
      h1.fnt-xl.fnt-semibold= title1
      h2.fnt-sm.fnt-semibold.my-2= title2
      p.fnt-14.mb-3.pr-3= text
      a(href= href).h-40.button.button-primary.fnt-sm.text-uppercase.btnHover= name
