// Onboarding Slider
.sliderImg {
  margin: 0 auto;
}

// Custom CSS for Slick Slider
.onboardingJS {
  .slick-prev,
  .slick-next {
    text-indent: -9999px;
    border: transparent;
    padding: 12px 23px;
    background: transparent;
    position: absolute;
    top: 25%;
    cursor: pointer;
    z-index: 1;

    &:focus {
      outline: none;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  .slick-prev {
    left: -13%;
    &:before {
      background: url(../img/icons/left-arrw.png) no-repeat;
    }
  }
  .slick-next {
    right: -15%;
    &:before {
      background: url(../img/icons/right-arrw.png) no-repeat;
    }
  }

  & .slick-dots {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    & li {
      margin-right: 0.3rem !important;
      & button {
        text-indent: -9999px;
        border-radius: 5px !important;
        border: 0;
        width: 4px !important;
        height: 4px !important;
        padding: 3px;
        background: $white;
        opacity: 0.6;
        transition: all ease 0.3s;
        cursor: pointer;
        &:focus {
          outline: 0;
        }
      }
      &.slick-active {
        & button {
          width: 16px !important;
          opacity: 1;
        }
      }
    }
  }
}

// ARROW HIDES FOR FIRST AND LAST SLIDES
.slick-prev.hidden,
.slick-next.hidden {
  opacity: 0;
  pointer-events: none;
}

// Modal CSS Custom
.modal-dialog {
  max-width: 520px;
  transform: translate(0, -50%) !important;
  top: 45%;
}
.modal-content {
  border: transparent;
}
.modal-header {
  border: transparent;
  padding: 15px 15px 0;
  &:focus {
    outline: none !important;
  }
}
.slider-content {
  min-height: 410px;
}
.slider-footer {
  background-color: #43c5e3;
  padding: 1.5rem 6rem;
  height: 150px;
  position: fixed;
  bottom: 0;
  width: 520px;
  p {
    span {
      letter-spacing: 1.2px;
    }
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .slider-footer {
    position: absolute;
    bottom: -10px;
  }
  .onboardingJS .slick-dots {
    background-color: #43c5e3;
    bottom: 0;
  }
}

#howItsWork {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
  padding: 20px 0px;

  svg:last-child {
    display: none;
  }
  svg:first-child {
    display: block !important;
  }
}

.slick-arrow.slick-disabled {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.7 !important;
}
