// icon-custom-fonts
@charset "UTF-8";

@font-face {
  font-family: "missionBio";
  src:url("missionBio/missionBio.eot");
  src:url("missionBio/missionBio.eot?#iefix") format("embedded-opentype"),
    url("missionBio/missionBio.woff") format("woff"),
    url("missionBio/missionBio.ttf") format("truetype"),
    url("missionBio/missionBio.svg#missionBio") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "missionBio" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "missionBio" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\61";
}
.icon-lock:before {
  content: "\62";
}
.icon-arrow-combo:before {
  content: "\63";
}
.icon-left-dir:before {
  content: "\64";
}
.icon-right-dir:before {
  content: "\65";
}
.icon-down-dir:before {
  content: "\66";
}
.icon-down-open-mini:before {
  content: "\67";
}
.icon-search:before {
  content: "\68";
}
.icon-cancel:before {
  content: "\69";
}
.icon-upload-cloud:before {
  content: "\6a";
}
.icon-plus:before {
  content: "\6b";
}
.icon-check:before {
  content: "\6c";
  
}
.icon-exclamation:before {
  content: "\6d";
}
.icon-trash:before {
  content: "\6e";
}
.icon-left-open-mini:before {
  content: "\6f";
}


// // custom fonts
// [data-icon]:before {
//     font-family: "Proxima" !important;
//     content: attr(data-icon);
//     font-style: normal !important;
//     font-weight: normal !important;
//     font-variant: normal !important;
//     text-transform: none !important;
//     speak: none;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// [class^="icon-"]:before,
// [class*=" icon-"]:before {
//     font-family: "Proxima" !important;
//     font-style: normal !important;
//     font-weight: normal !important;
//     font-variant: normal !important;
//     text-transform: none !important;
//     speak: none;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// .icon-password-view:before {
//     content: "\65";
// }

// .icon-down-arrow:before {
//     content: "\61";
// }

// .icon-mail:before {
//     content: "\62";
// }

// .icon-password:before {
//     content: "\63";
// }

// .icon-admin:before {
//     content: "\64";
// }