//IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	.panel-card {
		width: 100%;
	}
	.panel-left {
		.custom-table {
			tr:nth-of-type(even):after {
					height: 35px;
				@media (min-width: $lg) {
						height: 50px;
						transform: translateY(-8vh);
				}
				@media (min-width: $xl) {
					transform: translateY(-3vh);
				}
			}
		}
	}
	.tab-content.current {
		display: inline-block;
		padding: 30px 20px 0 20px;
	}
	.or-option {
		@include flex();
		@include align-items(center);
	}
	.panel-close {
		object-fit: contain;
	}
	.coverage {
		&--custom-table {
			th {
				text-align: left;
			}
		}
	}
	.overview-panel-list {
		width: 100%;
	}

	
}
//Edge 
@supports (-ms-ime-align: auto) {
	.panel-card {
		width: 100%;
	}
	.panel-left {
		.custom-table {
		
			tr:nth-of-type(even):after {
				height: 35px;
				transform: translateY(-9vh);
				@media (min-width: $lg) {
					height: 50px;
					transform: translateY(-8vh);
				}
				@media (min-width: $xl) {
				transform: translateY(-3vh);
				}
			}
		}
	}
	.tab-content.current {
		display: inline-block;
		padding: 30px 20px 0 20px;
	}
	.or-option {
		@include flex();
		@include align-items(center);
	}
}
