/**   Common css for all the pages   **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;*/
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    color: $white;
    text-decoration: none;
    transition: all 0.5s ease;
  }
}

/*=============================================
		body Fonts
=============================================*/

body {
  font-family: "ProximaNova-Regular"; // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // text-rendering: optimizeLegibility;
  font-family: "ProximaNova-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  p {
    @extend .fnt-sm;
    color: $black5f;
  }
}

// Loader
.hiLoader,
.loading {
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100vh;
}

.loading {
  background: url(../img/loading.gif) no-repeat center center;
  background-color: #fff;
  display: table;
  transition: all 0.2s;
}

// Fonts
.h1 {
  @include fonts(22px, 24px, 30px, null, "ProximaNova-Semibold");
}
.h2 {
  @include fonts(22px, 24px, 28px, null, "ProximaNova-Semibold");
}
.h3 {
  @include fonts(22px, 24px, 24px, null, "ProximaNova-Semibold");
}

.fnt-xl {
  @include fonts(18px, 20px, 20px, null, null);
}

.fnt-lg {
  @include fonts(14px, 16px, 18px, null, "ProximaNova-Semibold");
}

.fnt-md {
  @include fonts(14px, 14px, 16px, null, null);
}

.fnt-sm {
  @include fonts(12px, 14px, 14px, null, null);
}

.fnt-xs {
  @include fonts(10px, 12px, 12px, null, null);
}
.fnt-xss {
  @include fonts(11px, 11px, 11px, null, null);
}
.fnt-xxs {
  @include fonts(10px, 10px, 10px, null, null);
}

.fnt-regular {
  font-family: "ProximaNova-Regular";
  -webkit-font-smoothing: antialiased;
}
.fnt-semibold {
  font-family: "ProximaNova-Semibold";
  -webkit-font-smoothing: antialiased;
}
.fnt-700 {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
.fnt-400 {
  font-weight: 400;
}

// Background-Color
.bg-f2 {
  background-color: #f2f5f8;
}

// Text-Color
.white {
  color: $white;
}

.b3 {
  color: $black;
}

.black1d {
  color: $black1d;
}

.black4a {
  color: $black4a;
}

.black5f {
  color: $black5f;
}
.blackc3b {
  color: $blackc3b;
}
.flblue {
  color: $flblue;
}

.blue0a {
  color: $thick-blue;
}

.blueSky {
  color: $sky-blue !important;
}
.green {
  color: #00c853 !important;
}
.purple {
  color: #b388ff !important;
}
.yellow {
  color: $yellow !important;
}
.gray9b {
  color: $gray9b;
}

.bg_sky {
  background-color: $sky-blue !important;
}
.js-bgw {
  background: $white;
}

.red350 {
  color: $red350;
}

// spacing info

// Common CSS

.h-100vh {
  height: 100vh;
}
.l-36 {
  line-height: 36px !important;
}

.h100 {
  height: 100% !important;
}

.cursr {
  cursor: pointer;
}

.main-container {
  margin-top: 4.6rem;
}

/* Avatar */

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;

  &.sm {
    width: 40px;
    height: 40px;
  }
}
.link {
  color: $sky-blue;
  &:hover {
    color: $sky-blue;
  }
}
.bx-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.panel-close {
  position: absolute;
  top: 18px;
  right: 28px;
  z-index: 99;
  color: #919191 !important;
  font-size: 22px !important;
  object-fit: scale-down;
  &__fixed {
    top: -13px;
    right: -8px;
  }
}
//border-top
.border-top {
  border-top: 1px solid rgba(79, 85, 89, 0.1);
}
// border-bottom
.border-btm {
  border-bottom: 1px solid rgba(79, 85, 89, 0.1);
  &--white {
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  }
}
.add-text {
  border: 0;
  outline: 0;
  background: 0;
}
textarea {
  resize: none !important;
}
.bg-grayf8 {
  background-color: $grayf8;
}
.hr {
  border-color: #ffffff;
  opacity: 0.4;
}

// Breadcrumb
.breadcrumb {
  background-color: transparent;
  margin: 1rem auto;
  .breadcrumb-item,
  .breadcrumb-item a,
  .breadcrumb-item + .breadcrumb-item::before {
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #bcbbc5;
  }
  .breadcrumb-item.active {
    color: $black5f;
  }
  .breadcrumb-icon {
    transform: rotate(180deg);
    line-height: 0px;
  }
}
.upload-files {
  opacity: 0;
  display: none;
}
// form inputs
.form-control {
  border: 0;
  outline: 0;
  background-color: $blackf7;
  border-radius: 4px;
  &:focus,
  .visited {
    background-color: $blackf7;
  }
}
.search-box {
  background: 0;
  width: 218px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

// Common css for js
.js-inblock {
  display: inline-block;
}
.js-show {
  display: block !important;

}
.js-hide {
  display: none;
  
}

//Padding-bottom
.pad-btm {
  padding-bottom: 30px;
}
.pad-top {
  padding-top: 30px;
}
// MARGIN
.mb-10 {
  margin-bottom: 10rem;
}
// .active-item {
//   background: $white !important;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   h2 {
//     color: $black1d !important;
//   }
//   p {
//     color: $black5f !important;
//   }
// }
.sectin-pd {
  padding: 0.8rem 0 7rem 0;
}
.pad-tp10 {
  padding-top: 10rem;
}
.pad-tp4 {
  padding-top: 0rem;
}
// Progres bar
.progress {
  width: 80px;
  height: 7px;
  border-radius: 7px;
  display: inline-flex;
  margin-right: 10px;
}
.red {
  background-color: #fd0000;
}
.orange {
  background-color: #fca413;
}
.succes {
  background-color: #6ab714;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 10%;
}
.w-10 {
  width: 80%;
}
.w-90 {
  width: 90%;
}

// Progress bar
.progress {
  width: 80px !important;
  height: 7px !important;
  border-radius: 7px !important;
  margin-right: 15px;
  display: inline-flex;
}
.red {
  background-color: #fd0000 !important;
}
.orange {
  background-color: #fca413 !important;
}
.orange_text {
  color: #f5a623 !important;
}
.succes {
  background-color: #6ab714 !important;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.h-40 {
  height: 40px !important;
}
.h-45 {
  height: 45px !important;
}
.h-36 {
  min-height: 36px !important;
}
//Parsley css
.parsley-errors-list {
  position: absolute;
  color: $red;
}
.opacity_5 {
  opacity: 0.5 !important;
}
.m-15 {
  margin: 0 15px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
// Tolltip
.tooltip-inner {
  color: #43c5e3;
  font-size: 12px;
  line-height: 22px;
  padding: 4px 16px;
  background-color: $white;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.tooltip {
  top: -66px !important;
  left: -16px !important;
  cursor: pointer;
}
.tooltip.show {
  opacity: 1 !important;
}
.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
  border-width: 0 10px 10px;
  border-bottom-color: $white !important;
  top: -5px;
  right: -23px;
  filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0.2));
}

// save icon img style
.saveBtn {
  width: 14px;
  height: 14px;
  object-fit: cover;
  position: absolute;
  right: 50px;
  opacity: 0.4;
  cursor: pointer;
}


// .scroll-height {
//   max-height: 40px !important;

// @media (min-width: 768px) {
//   max-height: 60px !important;
// }
// @media (min-width: 992px) {
//   max-height: 100vh !important;
// }
// }
//Position for panel nav
.panel-nav {
 position: fixed;
 top: 60px;
 width: 100%;
 background-color: #f2f5f8;
 z-index: 999;
}

// .ui.sticky {
//   height: 638px !important;
// }
// .bound.bottom{
//   bottom: -101px !important;
// }