// BANNER SECTION START
section.banner
  .blue-banner
    .container
      .row
        .col-6
          .customer-prtallink.mt-4.d-inline-block
            .d-flex.align-items-center.my-2
              .custom-icon.icon-left-open-mini.mr-0.text-white
              a.ml-1.customer-prtallink--item.fnt-xs.fnt-semibold.white(href="#") Back to Customer Portal
            h2.h2.fnt-semibold.white Designer
// BANNER SECTION END
