// Breadcrumb Start
nav(aria-label='breadcrumb')
  ol.breadcrumb.p-0
    li.breadcrumb-item
      a(href='#') Designer
    li.breadcrumb-item.active(aria-current='page')
      .custom-icon.icon-left-open-mini.mr-0 Custom Panel
// Breadcrumb End

// Landing page Breadcrumb
.customer-prtallink
  a(href="#") Back to Customer Portal
  h2 Designer