//- nav list 
.col-8.nav-lists
    .row
        .col-12
            ul.cutom-flows.mt-5
                li.active.cutom-flows__items.d-inline-block
                    .outer-circle.m-auto
                        .flow-circle.text-center
                            span.fnt-sm 1
                    p Submit Targets
                li.cutom-flows__items.d-inline-block
                    .outer-circle.m-auto
                        .flow-circle.text-center
                            span.fnt-sm 2
                    p Review Design
                li.cutom-flows__items.d-inline-block
                    .outer-circle.m-auto
                        .flow-circle.text-center
                            span.fnt-sm 3
                    p Request Quote