// START PAGINATION
nav(aria-label='Page navigation').float-right.pagiNav
  ul.pagination.align-items-center
    //- Previous Button
    li.page-item
      a.text-center.page-link(href='#', aria-label='Previous')
        //- .custom-icon.icon-left-dir.mr-0
        img.page-link--left.img-fluid(src='img/icons/arrow01.svg')
    li.page-item.fnt-xs
      //- label.form-label Country
      .ui.selection.dropdown.form-dropdown.pagi-dropdown.text-center
        input(type="hidden" name="DataStatus")
        .defualt.text
          | Rows 
          span.displayValue 10 
          | of 
          span.totalValue 100
        .menu.hidden
          .item.text-center(data-value='1-10')
            | 10
          .item.text-center(data-value='20')
            | 20
          .item.text-center(data-value='30')
            | 30
          .item.text-center(data-value='40')
            | 40
    //- Next Button
    li.page-item
      a.page-link(href='#', aria-label='Next')
        //- .custom-icon.icon-right-dir.mr-0
        img.img-fluid(src='img/icons/arrow01.svg')
// END PAGINATION
