// COMMON COMPONENT SIDEBAR
.col-4
  //- #myDiv
  .ui.sticky
  
    .side-bar
        //- screen-
        .target-status
          span.target-status--btn.js-hide.fnt-xxs.mb-2.text-uppercase
          .d-flex.align-items-center
            h3.target-status--head.h3.py-2 Custom Panel
            .panel-lock.js-hide
              .custom-icon.icon-lock.icon-lock--sidebar.pl-2
            //- .panel-edit.js-show
            //-   .custom-icon.icon-pencil.icon-lock--sidebar.pl-2
          
          p.target-sttaus--info.fnt-sm.js-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        .d-flex.my-4.pi-bar.align-items-center
          ul.progress-circle
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span
            li.progress-circle__slots
              span
            li.progress-circle__slots
              span 
          .progress-value.pl-4.ml-1
            span.progress-value--per.js-hide.h1.white.completePercent 25%
            span.progress-value--blank
            p.fnt-sm.mt-2 Coverage
        ul.side-bar-list.border-btm--white
          li.row.side-bar-list__items
            h3.col-7 Number of Targets 
            span.fnt-700 19
          li.row.side-bar-list__items
            h3.col-7 Est. No. of Amplicons
            span.fnt-700 50
        ul.side-bar-list.pt-2.mt-4
          li.row.side-bar-list__items
            h3.col-7 Amplicon Size
            span.fnt-700 500 bp
          li.row.side-bar-list__items
            h3.col-7 Genome
            span.fnt-700 Human hg19
          li.row.side-bar-list__items
            h3.col-7 Assay Type 
            span.fnt-700 DNA
          
        

