// Order Flow Step 2
li.order__flow#sticky-content.js-hide.bx-shadow.fnt-sm

    .d-flex.justify-content-between.align-items-center.pb-4.mb-2.pt-2.order--head
        h2.d-inline-block.fnt-md.black1d.fnt-semibold  Design Summary
        .next.d-flex.align-items-center
            .next--delet-order.m-15(data-toggle='tooltip', data-placement='bottom', title='Delete')
                span.d-inline-block
                span.d-inline-block
                span.d-inline-block
            a.button.button-primary.button--flow.flow-next.btnHover.d-inline-block.text-uppercase.mr-0 view dashboard

    .d-flex.justify-content-end.py-4
        .col-10.p-0.d-flex.justify-content-end.align-items-center
            .col-6.searchbox.d-flex
                input.w-100.fnt-xs(type='text', placeholder='Search Target name or ID', name='search')
            include ../../components/pagination.pug

    // Target Summary
    .design-name#design-summary.p-0
        // COMMON COMPONENT TABLE
        table.table.table--small.table-striped(cellspacing="0")
            thead
                tr
                    th(scope='col') Target Name
                        .custom-icon.icon-arrow-combo.fnt-xxs
                    th(scope='col') ID
                        .custom-icon.icon-arrow-combo.fnt-xxs
                    th.text-center(scope='col') No. of Amplicons
                        .custom-icon.icon-arrow-combo.fnt-xxs
                    th.text-center(scope='col') Coverage
                        .custom-icon.icon-arrow-combo.fnt-xxs
                    th(scope='col') UCSC Link

            tbody.fnt-xs.tbody
                tr
                    td.text-uppercase abc
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link

                tr
                    td.text-uppercase cde
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link

                tr
                    td.text-uppercase fgh
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase ijk
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase lmn
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase opq
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase cde
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link

                tr
                    td.text-uppercase fgh
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase ijk
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase rst
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
    #requestSubmit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body.px-5.pt-0.pb-3
                    h5.fnt-semibold.black5f Request Submitted
                    p.my-2 Thank you for submitting your custom design
                    p.pb-4 You will be notified via e-mail once the result is ready.



