#match_3
  // OverView panels
  .row
      .col-12
          .py-4
              span.fnt-md.fnt-semibold Overview
              a(href="#").button.button-secondary.button--flow.float-right.btnHover download
          ul.overview-list.row
              li.col-4.overview-list__items
                      .overview-content
                          h2.fnt-sm.fnt-700.blue0a.mb-3 AML panel
                          .row
                            ul.col-8.overview-content-list
                              li.row.overview-content-list__items
                                h3.col-8.fnt-xs.fnt-semibold.gray9b No. of targets
                                span 19
                              li.row.overview-content-list__items
                                h3.col-8.fnt-xs.fnt-semibold.gray9b.text-capitalize coverage
                                span.fnt-sm.black5f.fnt-semibold 50%

                            .explore.col-8.col-xl-4.p-xl-0
                              a(href="fixed-panel-flow.html").mb-1.fnt-xs.button.button-primary.button--ex explore
                              
                              //- table.col-12.col-xl-8.coverage--custom-table
                              //-     thead.col-8.p-0
                              //-         tr
                              //-           th.fnt-xs.fnt-semibold.gray9b No. of targets
                              //-           th.fnt-xs.fnt-semibold.gray9b Coverage
                              //-     tbody
                              //-         tr
                              //-           td.fnt-sm.black5f.fnt-semibold 19
                                      
                              //-           td.fnt-sm.black5f.fnt-semibold 50%
                              //- .explore.col-8.col-xl-4.p-xl-0
                              //-   a(href="fixed-panel-flow.html").mb-2.fnt-xs.button.button-primary.button--ex explore
              li.col-4.overview-list__items
                  .overview-content
                      h2.fnt-sm.fnt-700.blue0a.mb-3 Myeloid Panel
                      .row
                        ul.col-8.overview-content-list
                          li.row.overview-content-list__items
                            h3.col-8.fnt-xs.fnt-semibold.gray9b No. of targets
                            span 19
                          li.row.overview-content-list__items
                            h3.col-8.fnt-xs.fnt-semibold.gray9b.text-capitalize coverage
                            span.fnt-sm.black5f.fnt-semibold 50%

                        .explore.col-8.col-xl-4.p-xl-0
                          a(href="fixed-panel-flow.html").mb-1.fnt-xs.button.button-primary.button--ex explore
              li.col-4.overview-list__items
                  .overview-content
                      h2.fnt-sm.fnt-700.blue0a.mb-3 Tumor Hotspot Panel
                      .row
                        ul.col-8.overview-content-list
                          li.row.overview-content-list__items
                            h3.col-8.fnt-xs.fnt-semibold.gray9b No. of targets
                            span 19
                          li.row.overview-content-list__items
                            h3.col-8.fnt-xs.fnt-semibold.gray9b.text-capitalize coverage
                            span.fnt-sm.black5f.fnt-semibold 50%

                        .explore.col-8.col-xl-4.p-xl-0
                          a(href="fixed-panel-flow.html").mb-1.fnt-xs.button.button-primary.button--ex explore
  // Overlap Table Content
  .row
      .col-12
          // COMMON COMPONENT TABLE
          .d-flex.justify-content-between.align-items-center
            h2.fnt-md.fnt-semibold.text-capitalize.my-4 overlap table
            .col-3.p-0.searchbox.d-flex
              input.w-100.cursr.fnt-xs(type='text', placeholder='Search target name or ID', name='search')
          table.table.overlap-table.table-striped(cellspacing="0").table--small
              thead
                  tr.overlap-table-content
                      th.overlap-table-content__head(scope='col') Target Name
                        .custom-icon.icon-arrow-combo.fnt-xxs
                      th.overlap-table-content__head(scope='col') ID
                        .custom-icon.icon-arrow-combo.fnt-xxs
                      th.overlap-table-content__head(scope='col') AML Panel
                        .custom-icon.icon-arrow-combo.fnt-xxs
                      th.overlap-table-content__head(scope='col') Myeloid Panel
                        .custom-icon.icon-arrow-combo.fnt-xxs
                      th.overlap-table-content__head(scope='col') Tumor Hotspot Panel
                        .custom-icon.icon-arrow-combo.fnt-xxs
              tbody.fnt-sm.tbody
                  tr
                    td.text-uppercase abc
                          
                    td NM_000155(GAA):RTSH2
                    td 
                      .progress
                        .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 10%
                              
                      td
                        .progress
                          .progress-bar.orange.w-80(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 80%
                      td
                        .progress
                          .progress-bar.succes.w-100(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 100%
                  tr
                    td.text-uppercase abc
                          
                    td NM_000155(GAA):RTSH2
                    td 
                      .progress
                        .progress-bar.red.w-50(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 50%
                            
                    td
                        .progress
                          .progress-bar.succes.w-60(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 60%
                    td
                        .progress
                          .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 10%
                  tr
                      td.text-uppercase abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.red.w-25(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 25%
                              
                      td
                        .progress
                          .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 40%
                      td
                        .progress
                          .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 10%
                  tr
                      td.text-uppercase abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.succes.w-75(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 75%
                              
                      td
                        .progress
                          .progress-bar.red.w-70(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 70%
                      td
                        .progress
                          .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 40%
                  tr
                      td.text-uppercase abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 40%
                              
                      td
                        .progress
                          .progress-bar.succes.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 10%
                      td
                        .progress
                          .progress-bar.red.w-80(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 80%
                  tr
                    td.text-uppercase abc
                        
                    td NM_000155(GAA):RTSH2
                    td 
                      .progress
                        .progress-bar.red.w-30(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 30%
                            
                    td
                      .progress
                        .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 40%
                    td
                      .progress
                        .progress-bar.succes.w-60(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 60%
                  tr
                    td.text-uppercase abc
                        
                    td NM_000155(GAA):RTSH2
                    td 
                      .progress
                        .progress-bar.succes.w-90(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 90%
                            
                    td
                      .progress
                        .progress-bar.red.w-100(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 100%
                    td
                      .progress
                        .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 40%
                  tr
                      td.text-uppercase abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 40%
                              
                      td
                        .progress
                          .progress-bar.succes.w-100(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 100%
                      td
                        .progress
                          .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 10%
                  tr
                    td.text-uppercase abc
                          
                    td NM_000155(GAA):RTSH2
                    td 
                      .progress
                        .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 10%
                              
                      td
                        .progress
                          .progress-bar.orange.w-80(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 80%
                      td
                        .progress
                          .progress-bar.succes.w-100(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 100%
                  tr
                    td.text-uppercase abc
                          
                    td NM_000155(GAA):RTSH2
                    td 
                      .progress
                        .progress-bar.red.w-50(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 50%
                            
                    td
                        .progress
                          .progress-bar.succes.w-60(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 60%
                    td
                        .progress
                          .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 10%
                  tr
                    td.text-uppercase abc
                          
                    td NM_000155(GAA):RTSH2
                    td 
                      .progress
                        .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 10%
                              
                      td
                        .progress
                          .progress-bar.orange.w-80(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 80%
                      td
                        .progress
                          .progress-bar.succes.w-100(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 100%
                  tr
                    td.text-uppercase abc
                          
                    td NM_000155(GAA):RTSH2
                    td 
                      .progress
                        .progress-bar.red.w-50(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                      span 50%
                            
                    td
                        .progress
                          .progress-bar.succes.w-60(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 60%
                    td
                        .progress
                          .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 10%


                        
