//Single Match
#match_1
  .row
      .col-4
        .py-4
            span.fnt-md.fnt-semibold Overview
            a(href="#").button.button-secondary.button--flow.float-right.btnHover download
      
        ul.overview-list
          li.overview-list__items
            .overview-content
              h2.mb-3.fnt-sm.fnt-700.blue0a AML panel
              .row
                ul.col-8.overview-content-list
                  li.row.overview-content-list__items
                    h3.col-8.fnt-xs.fnt-semibold.gray9b No. of targets
                    span 19
                  li.row.overview-content-list__items
                    h3.col-8.fnt-xs.fnt-semibold.gray9b.text-capitalize coverage
                    span.fnt-sm.black5f.fnt-semibold 50%

                .explore.col-8.col-xl-4.p-xl-0
                  a(href="fixed-panel-flow.html").mb-1.fnt-xs.button.button-primary.button--ex explore
                              
      // Overlap Table Content
      .col-8
            // COMMON COMPONENT TABLE
            .d-flex.justify-content-between.align-items-center
              h2.fnt-md.fnt-semibold.text-capitalize.d-inline-block.py-4 overlap table
              .col-5.p-0.searchbox.d-flex
                input.w-100.cursr.fnt-xs(type='text', placeholder='Search target name or ID', name='search')
            table.table.fnt-sm.overlap-table.table-striped(cellspacing="0")
                thead
                    tr.overlap-table-content
                        th.overlap-table-content__head(scope='col') Target Name
                          .custom-icon.icon-arrow-combo.fnt-xxs
                        th.overlap-table-content__head(scope='col') ID
                          .custom-icon.icon-arrow-combo.fnt-xxs
                        th.overlap-table-content__head(scope='col') AML Panel
                          .custom-icon.icon-arrow-combo.fnt-xxs
                tbody.text-uppercase.tbody.scrollbar
                    tr
                      td abc
                            
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 10%
                    tr
                      td abc
                            
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.red.w-50(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 50%
                    tr
                        td abc
                            
                        td NM_000155(GAA):RTSH2
                        td 
                          .progress
                            .progress-bar.red.w-25(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                          span 25%
                    tr
                        td abc
                            
                        td NM_000155(GAA):RTSH2
                        td 
                          .progress
                            .progress-bar.succes.w-75(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                          span 75%
                    tr
                        td abc
                            
                        td NM_000155(GAA):RTSH2
                        td 
                          .progress
                            .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                          span 40%
                    tr
                      td abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.red.w-30(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 30%
                    tr
                      td abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.succes.w-90(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 90%
                    tr
                        td abc
                            
                        td NM_000155(GAA):RTSH2
                        td 
                          .progress
                            .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                          span 40%
                    tr
                      td abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.red.w-30(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 30%
                    tr
                      td abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.succes.w-90(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 90%
                            

