// Overlap Table
// Read Matched Panels
section.js-hide.step3.section.sectin-pd
    .container
        
      nav(aria-label='breadcrumb')
        ol.breadcrumb.px-0.mb-0
          //- li.breadcrumb-item
          //-   a(href='#') Designer
          .custom-icon.icon-left-open-mini
          li.edit-targets.breadcrumb-item.active.text-capitalize(aria-current='page')
            a(href="#") edit targets
      .bx-shadow
        .row.mx-0
          .col-12.bg-white
            .circle.circle--overlap.text-uppercase.fnt-sm.black5f or
            // Continue with custom design or save
            ul.row.custom-design-flow
              //.tabs
              li.col-6.custom-design-flow__items
                //.tab-link.current(data-tab='tab-11')
                .custom-design-flow__items--cont-save.h-100
                  h2.fnt-md.fnt-semibold Continue with your Custom design
                  p.fnt-sm Submit your targets
              li.col-6.custom-design-flow__items.active-item
                //.tab-link(data-tab='tab-22')
                .custom-design-flow__items--cont-save.h-100
                  h2.fnt-md.fnt-semibold Save time and effort.
                  p.fnt-sm Use our experimentally validated panels that are a close match to your design
        .row.mx-0
            // #tab-11.tab-content.current
            .col-12.matches.bg-white
              ul.matched-list 
                li.matched-list__item.js-hide
                  include one-match.pug
                li.matched-list__item.js-show
                  include more-match.pug
                li.matched-list__item.js-hide
                  include no-match.pug
            // #tab-22.tab-content
            .col-12
              include validated-panel.pug  
            
