// PANEL COVERAGE
// COVERAGE
// CUSTOM FLOW Screens
section.section-coverage.section.sectin-pd
    .container
        .row
            .col-12
                nav.panel-nav(aria-label='breadcrumb')
                    ol.breadcrumb.px-0.pb-2
                        li.breadcrumb-item
                            a(href='index.html') Designer
                        .custom-icon.icon-left-open-mini.breadcrumb-icon
                        li.breadcrumb-item.active(aria-current='page') Custom panel
            include ../../components/sidebar.pug
            .col-8
                .row
                    .col-12
                        ul.cutom-flows.py-4
                            li.cutom-flows__items.d-inline-block
                                .outer-circle.m-auto
                                    .flow-circle.bg_sky.text-center
                                        span 1
                                p.fnt-semibold.fnt-xss Submit Targets
                            li.cutom-flows__items.d-inline-block
                                .outer-circle.m-auto
                                    .flow-circle.text-center
                                        span 2
                                p.fnt-semibold.fnt-xss Review Design
                            li.cutom-flows__items.d-inline-block
                                .outer-circle.m-auto
                                    .flow-circle.text-center
                                        span 3
                                p.fnt-semibold.fnt-xss Request Quote
                // Order Flow
                .row
                    .col-12
                        ul.order
                        
                            include name-design.pug
                            include target-summary.pug
                            include design-summary.pug
                            include result-summary.pug
// Overlap Tabel        
include overlap-table.pug

            
