// Order Flow Step 3
li.order__flow.js-hide.bx-shadow.fnt-sm
                                                                    
    .d-flex.justify-content-between.align-items-center.pb-4.pt-2.order--head
        h2.d-inline-block.fnt-md.black1d.fnt-semibold  Result Summary
        .next.d-flex.align-items-center
            .next--download
                a.d-inline-flex(href="javascript:void(0)")
                    img.btnMove.img-fluid(src="img/icons/download.svg", alt="download")
            .result-feedback.js-hide
                .d-flex.align-items-center
                    a.button.button-secondary.button--feedback.d-inline-block.text-uppercase.mr-0 feedback
                    a.button.button-primary.result-dashboard.ml-15.js-hide.button--flow.d-inline-block.text-uppercase.mr-0 view dashboard
            .request-quote
                a.button.button-primary.button--flow.flow-next.d-inline-block.text-uppercase.mr-0(data-toggle='modal', data-target='#requestFeedback') request quote

    .d-flex.justify-content-end.align-items-center.py-4
    
        .col-10.p-0.d-flex.justify-content-end.align-items-center        
            .col-6.searchbox.d-flex
                input.w-100.fnt-xs(type='text', placeholder='Search target name or ID', name='search')    
            include ../../components/pagination.pug
    // Target Summary
    .design-name#result-summary.p-0
        // COMMON COMPONENT TABLE
        table.table.table--small.table-striped(cellspacing="0")
            thead
                tr
                    th(scope='col') Target Name
                       .custom-icon.icon-arrow-combo.fnt-xxs
                    th(scope='col') ID
                       .custom-icon.icon-arrow-combo.fnt-xxs
                    th.text-center(scope='col') No of Amplicons
                    //-    .custom-icon.icon-arrow-combo.fnt-xxs
                    th.text-center(scope='col') Coverage
                    //-    .custom-icon.icon-arrow-combo.fnt-xxs
                    th(scope='col') UCSC Link
                    
            tbody.fnt-xs.tbody
                tr
                    td.text-uppercase abc
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
                    
                tr
                    td.text-uppercase cde
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
                    
                tr
                    td.text-uppercase fgh
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase ijk
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase lmn
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase opq
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase fgh
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase ijk
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase lmn
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase rst
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center 95%
                    td.text-capitalize 
                        a.link.fnt-xs(href="javascript:void(0)") link
    // Request Feedback Modal
    #requestFeedback.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header 
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body.pt-0.pb-3.px-5
                    form#order-form
                        h2.fnt-700.fnt-md.mb-4.pb-1.black5f Feedback / Query
                        p.fnt-sm.fnt-700.mb-2 What do you need help with?
                        
                        .ui.col-5.px-0.mb-3.pb-1.selection.dropdown.form-dropdown
                            input(type="hidden" name="DataStatus")
                            .custom-icon.icon-down-dir.float-right
                            .defualt.text All
                            .menu.hidden
                                .item(data-value='all')
                                    | All
                                .item(data-value='draft')
                                    | Draft
                                .item(data-value='submitted')
                                    | Submitted
                                .item(data-value='result')
                                    | Result Ready
                                .item(data-value='ordered')
                                    | Ordered
                        h3.fnt-sm.fnt-700.mb-2 Tell us a little bit more
                        p.fnt-sm.mb-3.pb-1  Be it a design issue, feedback on our application or any other query, we are here to help you.
                        textarea.py-2.form-control(name="text" placeholder="Your comment here" rows="6")
                        .text-center.mt-3.pt-1
                            input.h-45.fnt-semibold.ml-auto.button.button-primary.button--submit03.flow-next(type="submit" value="SUBMIT")
                    
