// Order Flow Step 1
li.order__flow.js-hide#sticky-content.step2.bx-shadow.fnt-sm
                                                                    
    .d-flex.justify-content-between.align-items-center.pb-4.mb-2.pt-2.order--head
        h2.d-inline-block.fnt-md.black1d.fnt-semibold  Target Summary
        .next.d-flex.align-items-center
            .next--delet-order(data-toggle='tooltip', data-placement='bottom', title='Delete')
                span.d-inline-block 
                span.d-inline-block  
                span.d-inline-block
            button.button.button-secondary.flow-disabled.m-15.button--flow.opacity_5.d-inline-block.text-uppercase save for later
            button.button.button-primary.flow-disabled.button--flow.flow-next.opacity_5.d-inline-block.text-uppercase.mr-0(disabled='') continue
    .target-table-sm
        .d-flex
            .succed-target.pl-4
                span.succed-target__item 28
                span.succed-target__item  of
                span.succed-target__item.ml-1  30
                span.succed-target__item  targets added successfully
            .error-target.ml-5
                span.error-target__item 2
                span.error-target__item  target gene IDs error
        .d-flex.justify-content-between.align-items-center.py-4
            h2.fnt-semibold.fnt-md.target-summary-tag.js-hide.text-capitalize target summary
            button.add-target#addTarget.text-capitalize.fnt-xs.button.button-secondary.px-2.d-inline-block.fnt-700 + Add Target
            .col-9.p-0.d-flex.justify-content-end.align-items-center          
                
                .col-6.pl-md-0.searchbox.d-flex
                    input.w-100.fnt-xs(type='text', placeholder='Search target name or ID', name='search')        
                include ../../components/pagination.pug
        // Target Summary
        .design-name.p-0
            // COMMON COMPONENT TABLE
            table.table.table-striped(cellspacing="0")#addTargetTable
                thead
                    tr
                        th(scope='col') Target Name
                            .custom-icon.icon-arrow-combo.fnt-xxs
                        th(scope='col') ID
                            .custom-icon.icon-arrow-combo.fnt-xxs
                        th(scope='col') UCSC Link
                        
                tbody.fnt-xs.tbody.table--edit
                    tr.error-circle
                        td.text-uppercase(contenteditable='false') cde
                        td.text-uppercase(contenteditable='false') NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row

                    tr.error-circle
                        td.text-uppercase cde
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase lmn
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase opq
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase rst
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase opq
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase rst
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row








                    
