// One matched item

.overview.js-hide
  .row.bg-white
    .col-5
      .d-flex.justify-content-between.mx-2.py-4
        h2.fnt-md.fnt-semibold.l-36 Overview
      .row.overview-panel.mx-2  
        .p-4.w-100
            h2.fnt-semibold.mb-2 CP01
            p.fnt-sm.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .row
                ul.row.overview-panel-list
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Coverage
                        span.col-5.p-0.fnt-700.fnt-sm -
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Amplicon size
                        span.col-5.p-0.fnt-700.fnt-sm 500 bp
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs No. of targets
                        span.col-5.p-0.fnt-700.fnt-sm 50
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Genome
                        span.col-5.p-0.fnt-700.fnt-sm Human hg19
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Est. No. of Amplicons
                        span.col-5.p-0.fnt-700.fnt-sm 19
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Assay type
                        span.col-5.p-0.fnt-700.fnt-sm DNA
      .row.mx-2.justify-content-end
        input.mt-3.float-right.button.button-primary.submit.button--submit02.flow-next(type="submit", data-toggle='modal', data-target='#requestSubmit' value="SUBMIT")

    // Overview Tabel
    .col-7
      //- .overview-table
      .target-table-sm
        .d-flex.justify-content-between.align-items-center.py-4
            h2.fnt-semibold.fnt-md.target-summary-tag.text-capitalize target summary
            .col-9.p-0.d-flex.justify-content-end.align-items-center           
                .col-6.pl-md-0.searchbox.d-flex
                    input.w-100.fnt-xs(type='text', placeholder='Search target name or ID', name='search')        
                include ../../components/pagination.pug
        // Target Summary
        .design-name.p-0
            // COMMON COMPONENT TABLE
            table.table.table-striped(cellspacing="0")
                thead
                    tr
                        th(scope='col') Target Name
                            .custom-icon.icon-arrow-combo.fnt-xxs
                        th(scope='col') ID
                            .custom-icon.icon-arrow-combo.fnt-xxs
                        th(scope='col') UCSC Link
                        
                tbody.fnt-xs.tbody.scrollbar
                    tr
                        td.text-uppercase abc
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                        
                    tr
                        td.text-uppercase cde
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase lmn
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase opq
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase rst
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row

                    

        


