doctype html
html(lang="en")
  - var pageName = "home"
  - var page_name= "home"
  head
    include pug/base/head.pug
    +head(pageName)
  body

    // START: HEADER
    include pug/base/header.pug
    main.main-container
      form
        // START: BANNER
        //- include ./pug/components/banner.pug
        // START: MAIN
        include ./pug/layouts/fixed-panel-flow/fixed-flow.pug

    // START: FOOTER
    include pug/base/footer.pug
    include pug/base/scripts.pug
    +script(page_name)